---
layout: default
---

<div class="container">
  <div class="card">
  <div>
    <strong>【現在募集中のトークテーマはこちら】</strong><br>
    　あなたがプログラミングを始めたきっかけや原体験、またITエンジニアになったきっかけや原体験を募集中。<br>
    　投稿は<a  style="font-size: larger" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSf_z4yuYH11kU1iys1ibWnj4h3PbPFOM3OAJhH8vWAMlZOQrw/viewform">こちらのフォーム</a>から!
  </div>
    {% for post in site.posts %}
      <article class="list-group-element">
        <h1 class="list-group-element-heading">
          <a href="{{ post.url | prepend:site.github.url }}">{{ post.title | escape }}</a>
        </h1>
        <footer class="list-group-element-footer">
          {{ post.date | date: "%Y年%m月%d日" }}<span style="font-size: small">(収録日：{{ post.rec_date | date: "%Y年%m月%d日" }})</span> 
        </footer>
        <p>
          {{ post.description }}
        </p>
        <div class="list-group-element-images">
          {% for actor_id in post.actor_ids %}
            {% assign actor = site.actors[actor_id] %}
            <img src="{{ actor.image_url | prepend:site.github.url }}" alt="{{ actor.name }}" class="list-group-element-images-element" width="40" height="40">
          {% endfor %}
        </div>
      </article>
    {% endfor %}
  </div>
</div>
