<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T2PP32N"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<header class="header">
  <div class="header-overlay">
    <div class="container">
      <h1 class="header-heading">
        <a href="{{ site.github.url }}/">
          {{ site.title }}
        </a>
      </h1>
      <div class="header-description">
        {{ site.description }}
      </div>

      <!-- Podcast配信サービスアイコン -->
      <div class="header-platforms">
        {% if site.itunes_podcast_url %}
          <a href="{{ site.itunes_podcast_url }}" target="_blank" rel="noopener" class="header-platforms-link" aria-label="Apple Podcasts">
            <img src="{{ site.github.url }}/images/Apple_Podcast_Icon_RBG_CI_120525.svg" alt="Apple Podcasts" class="header-platforms-icon">
          </a>
        {% endif %}
        <a href="{{ site.platforms.spotify }}" target="_blank" rel="noopener" class="header-platforms-link" aria-label="Spotify">
          <svg class="header-platforms-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#1DB954" d="M12 0C5.4 0 0 5.4 0 12s5.4 12 12 12 12-5.4 12-12S18.66 0 12 0zm5.521 17.34c-.24.359-.66.48-1.021.24-2.82-1.74-6.36-2.101-10.561-1.141-.418.122-.779-.179-.899-.539-.12-.421.18-.78.54-.9 4.56-1.021 8.52-.6 11.64 1.32.42.18.479.659.301 1.02zm1.44-3.3c-.301.42-.841.6-1.262.3-3.239-1.98-8.159-2.58-11.939-1.38-.479.12-1.02-.12-1.14-.6-.12-.48.12-1.021.6-1.141C9.6 9.9 15 10.561 18.72 12.84c.361.181.54.78.241 1.2zm.12-3.36C15.24 8.4 8.82 8.16 5.16 9.301c-.6.179-1.2-.181-1.38-.721-.18-.601.18-1.2.72-1.381 4.26-1.26 11.28-1.02 15.721 1.621.539.3.719 1.02.419 1.56-.299.421-1.02.599-1.559.3z"/>
          </svg>
        </a>
        <a href="{{ site.platforms.youtube }}" target="_blank" rel="noopener" class="header-platforms-link" aria-label="YouTube">
          <svg class="header-platforms-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FF0000" d="M23.498 6.186a3.016 3.016 0 0 0-2.122-2.136C19.505 3.545 12 3.545 12 3.545s-7.505 0-9.377.505A3.017 3.017 0 0 0 .502 6.186C0 8.07 0 12 0 12s0 3.93.502 5.814a3.016 3.016 0 0 0 2.122 2.136c1.871.505 9.376.505 9.376.505s7.505 0 9.377-.505a3.015 3.015 0 0 0 2.122-2.136C24 15.93 24 12 24 12s0-3.93-.502-5.814zM9.545 15.568V8.432L15.818 12l-6.273 3.568z"/>
          </svg>
        </a>
        <a href="{{ site.platforms.amazon_music }}" target="_blank" rel="noopener" class="header-platforms-link" aria-label="Amazon Music">
          <img src="{{ site.github.url }}/images/AM_App_Tile_Charcoal_Cyan_Square.svg" alt="Amazon Music" class="header-platforms-icon">
        </a>
        <a href="{{ site.platforms.listen }}" target="_blank" rel="noopener" class="header-platforms-link" aria-label="LISTEN">
          <img src="{{ site.github.url }}/images/LISTEN_logo.svg" alt="LISTEN" class="header-platforms-icon">
        </a>
        <a href="{{ site.github.url }}/feed.xml" target="_blank" rel="noopener" class="header-platforms-link" aria-label="RSS">
          <svg class="header-platforms-icon" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
            <path fill="#FFA500" d="M19.199 24C19.199 13.467 10.533 4.8 0 4.8V0c13.165 0 24 10.835 24 24h-4.801zM3.291 17.415a3.3 3.3 0 013.293 3.295A3.303 3.303 0 013.283 24C1.47 24 0 22.526 0 20.71s1.475-3.294 3.291-3.295zM15.909 24h-4.665c0-6.169-5.075-11.245-11.244-11.245V8.09c8.727 0 15.909 7.184 15.909 15.91z"/>
          </svg>
        </a>
      </div>
    </div>
  </div>
</header>
